<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cs-Club Official</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">

  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>


  <!-- Custom styles for this template -->
  <link href="{{url_for('static',filename='css/clean-blog.min.css')}}" rel="stylesheet">



  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark  fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-white" href="/">Cs_Club</a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link text-white" href="/">Home</a>
          </li>
           <li class="nav-item ">
            <a class="nav-link text-white" href="/activity">Activity</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" href="/team">team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/contact">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- ======= Team Section ======= -->
    <section class="team pt-5 mt-5" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{{url_for('static',filename='img/team-1.jpg')}}" class="img-fluid rounded" alt="" >
                <div class="social">
                  <a href="https://www.facebook.com"><i class="fab fa-facebook-f "></i></a>
                  <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>President</span>
                <p>Animi est delectus alias quam repellendus nihil nobis dolor. Est sapiente occaecati et dolore. Omnis aut ut nesciunt explicabo qui. Eius nam deleniti ut omnis repudiandae perferendis qui. Neque non quidem sit sed pariatur quia modi ea occaecati. Incidunt ea non est corporis in.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{{url_for('static',filename='img/team-2.jpg')}}" class="img-fluid rounded" alt="">
                <div class="social">
                  <a href="https://www.facebook.com"><i class="fab fa-facebook-f "></i></a>
                  <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Vice President</span>
                <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque. Dolores eum non.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{{url_for('static',filename='img/team-3.jpg')}}" class="img-fluid rounded" alt="">
                <div class="social">
                  <a href="https://www.facebook.com"><i class="fab fa-facebook-f "></i></a>
                  <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>Vice President</span>
                <p>Ut enim possimus nihil cupiditate beatae. Veniam facere quae non qui necessitatibus rerum eos vero. Maxime sit sunt quo dolor autem est qui quaerat aliquid. Tenetur possimus qui enim.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{{url_for('static',filename='img/team-4.jpg')}}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.facebook.com"><i class="fab fa-facebook-f "></i></a>
                  <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Co-ordinator</span>
                <p>Sint qui cupiditate. Asperiores fugit impedit aspernatur et mollitia. Molestiae qui placeat labore assumenda id qui nesciunt quo reprehenderit. Rem dolores similique quis soluta culpa enim quia ratione ea.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{{url_for('static',filename='img/team-5.jpg')}}" class="img-fluid rounded" alt="">
                <div class="social">
                  <a href="https://www.facebook.com"><i class="fab fa-facebook-f "></i></a>
                  <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Niall Katz</h4>
                <span>Teacher</span>
                <p>Aut ex esse explicabo quia harum ea accusamus excepturi. Temporibus at quia quisquam veritatis impedit. Porro laborum voluptatum sed necessitatibus a saepe. Deserunt laborum quasi consequatur voluptatum iusto sint qui fuga vel. Enim eveniet sed quibusdam rerum in. Non dicta architecto consequatur quo praesentium nesciunt.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{{url_for('static',filename='img/team-6.jpg')}}" class="img-fluid rounded" alt="">
                <div class="social">
                  <a href="https://www.facebook.com"><i class="fab fa-facebook-f "></i></a>
                  <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Demi Lewis</h4>
                <span>Helper</span>
                <p>Amet labore numquam corrupti est. Nostrum amet voluptas consectetur dolor voluptatem architecto distinctio consequuntur eligendi. Quam impedit enim aut nesciunt aut dicta quam exercitationem. Reprehenderit exercitationem magnam. Ullam similique ut voluptas totam nobis porro accusamus nulla omnis.</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->
 <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/csclub_sist/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/company/cs-club-sist/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy;CsClub(SIST)</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
  <!-- Custom scripts for this template -->
  <script src="{{url_for('static',filename='js/clean-blog.min.js')}}"></script>

</body>

</html>

